
/* THIS PAGE CONTAINS THE STYLING OF MAIN CONTENT ON "rainjackets.html", "softshell.html", and "sale.html" */

.info-part .info-desk {
    display: none;
}

.info-part h1 {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    margin: 2.5rem 3rem 1rem 3rem;
}

.info-part a {
    text-decoration: none;
    color: var(--color-primary);
}